---
layout: style
---

.main-header{
    color: #fed136 !important;
    font-family: "Kaushan Script";
}

.main-button{
    color: #fed136;
    background-color: #1f1f1f;
}

.main-button:hover{
    color: #fed136;    
    background-color: #000000;
}

.contact-list{
    font-family: Montserrat;
    color: #d6d2d2;
    font-size: 19px;
}

.portfolio-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.portfolio-image{
    display: initial;
    margin: 10px;
    max-height: 300px;
    border: 10px solid black;
}

.table th{
    font-size: 130%
}