<!-- About Section -->
<section id="about" class="bg-secondary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">O Mnie</h2>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-lg-8 timeline-body">
        <br/>
        <p>Witaj na mojej stronie!</p>
        <p>
          Pewnie interesuje Cie kim jestem i czy trafilas w 'dobre ręce'. <br />
          Bardzo dobrze, że przed skorzystaniem z jakiejkolwiek usługi, masz
          zamiar w pierwszej kolejności sprawdzić do kogo idziesz :)
        </p>

        <p>
          Mam na imię Monika, od ok 10 lat mieszkam we Wrocławiu.<br />
          Posiadam wykształcenie medyczne, specjalizujące się w ortodoncji.
          <br />
          Pracując w labolatorium codziennie wykorzystywałam swoje zdolności
          manualne, co pozwolilo mi później szybko opanować zasady techniki
          pracy dotyczące branży beauty, głównie jako Stylistka.
        </p>

        <p>
          Na zdjęciach przedstawiam kilka z moich zdobytych certyfikatów ze
          szkoleń.
        </p>
      </div>
      <div class="col-lg-3">
       <img src="img/about/178873285_942946426247940_4901023601211237995_n.jpg" class="img-responsive" />
      </div>
    </div>
  </div>
</section>
