<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                <ul class="nav navbar-nav navbar-left">
                    {% for network in site.social %}
                    <li><a target="_blank" href="{{ network.url }}"><i class="fab fa-{{ network.title }} fa-lg"></i></a>
                    </li>
                    {% endfor %}
                    <a class="sub-title" href="https://uroczewarkocze.pl" target="_blank"
                    >uroczewarkocze.pl</a
                  >
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">O Mnie</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Usługi</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#price">Cennik</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Kontakt</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <img src="img/head-logo.png">
                <div class="intro-heading main-header">Urocza Ja </div>
                <div class="intro-lead-in">Stylizacja brwi i rzęs</div>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

