<!-- Portfolio Modals -->
{% for post in site.posts %}
<div class="portfolio-modal modal" id="portfolioModal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <h2>{{ post.title }} - {{post.subtitle}}</h2>
        <hr class="star-primary">
        <div class="portfolio-container">
            {% for image in post.images %}
            <a class="lightbox-item" href="img/portfolio/{{ image }}" data-lightbox="image-{{post.title}}-{{post.subtitle}}" data-alt="img/loading_spinner.gif">
                <div class=thumbnail style="background-image: url(img/portfolio/{{ image }});"></div>
            </a>
            {% endfor %}
        </div>
        <!-- <p>{{ post.description }}</p> -->
        <button type="button" style="float: right;margin: 20px" class="btn btn-default" data-dismiss="modal">
            <i class="fa fa-times"></i> Close</button>
    </div>
</div>
{% endfor %}