<!-- Portfolio Modals -->
{% for post in site.posts %}
<div class="portfolio-modal modal" id="portfolioModal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
            <h2>{{ post.title }} - {{post.subtitle}}</h2>
            <hr class="star-primary">
            <div class="portfolio-container">
                {% for image in post.images %}
                <img src="img/loading_spinner.gif" data-src=img/portfolio/{{ image }} class="img-responsive portfolio-image" alt="{{ post.alt }}"> 
                {% endfor %}
            </div>
            </div>
            <p>{{ post.description }}</p>
            <button type="button" class="btn btn-default" data-dismiss="modal">
                <i class="fa fa-times"></i> Close</button>
        </div>
</div>
{% endfor %}