<!-- Team Section -->
<section id="price" class="bg-secondary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Cennik</h2>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <table class="table price-table">
          <thead>
            <tr>
              <th>Rzęsy</th>
              <td class="text-muted" style="font-size: 90%; padding-bottom: 0">
                Założenie
              </td>
              <td class="text-muted" style="font-size: 90%; padding-bottom: 0">
                2tyg
              </td>
              <td class="text-muted" style="font-size: 90%; padding-bottom: 0">
                3tyg
              </td>
              <td class="text-muted" style="font-size: 90%; padding-bottom: 0">
                4tyg
              </td>
            </tr>
          </thead>
          <tbody>
            <tr style="margin-bottom: -20px">
              <td class="text-muted" style="font-size: 90%; padding-bottom: 0">
                Naturalne
              </td>
            </tr>
            <tr>
              <td>Metoda 1:1</td>
              <td>150zł&nbsp;&nbsp;<span style="font-size: 95%"></span></td>
              <td>110zł</td>
              <td>130zł</td>
              <td>-----</td>
            </tr>
            <tr style="margin-bottom: -20px">
              <td class="text-muted" style="font-size: 90%; padding-bottom: 0">
                Lekkie objętości
              </td>
            </tr>
            <tr>
              <td>Metoda 2:1</td>
              <td>170&nbsp;&nbsp;<span style="font-size: 95%"></span></td>
              <td>120zł</td>
              <td>140zł</td>
              <td>-----</td>
            </tr>
            <tr>
              <td>Metoda 2/3:1</td>
              <td>180&nbsp;&nbsp;<span style="font-size: 95%"></span></td>
              <td>130zł</td>
              <td>150zł</td>
              <td>170zł</td>
            </tr>
            <tr style="margin-bottom: -20px">
              <td class="text-muted" style="font-size: 90%; padding-bottom: 0">
                Objętościowe
              </td>
            </tr>
            <tr>
              <td>Metoda 3:1</td>
              <td>190&nbsp;&nbsp;<span style="font-size: 95%"></span></td>
              <td>140zł</td>
              <td>160zł</td>
              <td>180zł</td>
            </tr>
            <tr style="margin-bottom: -20px">
              <td class="text-muted" style="font-size: 90%; padding-bottom: 0">
                Duże objętości
              </td>
            </tr>
            <tr>
              <td>Metoda 4/6:1</td>
              <td>230&nbsp;&nbsp;<span style="font-size: 95%"></span></td>
              <td>180zł</td>
              <td>200zł</td>
              <td>220zł</td>
            </tr>
            <tr style="margin-bottom: -20px">
              <td class="text-muted" style="font-size: 90%; padding-bottom: 0">
                Mega objętości
              </td>
            </tr>
            <tr>
              <td>Metoda 7/10:1</td>
              <td>280&nbsp;&nbsp;<span style="font-size: 95%"></span></td>
              <td>230zł</td>
              <td>250zł</td>
              <td>270zł</td>
            </tr>
            <tr>
              <td class="text-muted" style="font-size: 70%">
                * Cena uzupełnienia rzęs do 2/3/4 tygodni obowiązuje tylko po
                aplikacji wykonanej w salonie Urocza Ja
              </td>
            </tr>
            <tr>
              <td>Ściągnięcie rzęs</td>
              <td>50zł</td>
            </tr>
            <tr>
              <td>Laminacja (podkręcenie) rzęs</td>
              <td>130zł</td>
            </tr>
            <tr>
              <td>Farbowanie + wzmocnienie rzęs botoxem</td>
              <td>50zł</td>
            </tr>
          </tbody>

          <thead>
            <tr>
              <th>
                <hr />
                Brwi
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Naturalna stylizacja brwi</td>
              <td>70zł</td>
            </tr>
            <tr>
              <td>Henna pudrowa</td>
              <td>70zł</td>
            </tr>
            <tr>
              <td>Laminacja (ułożenie) brwi</td>
              <td>130zł</td>
            </tr>

            <tr>
              <td>Wzmocnienie brwi botoxem przy stylizacji</td>
              <td>+20zł</td>
            </tr>
            <tr>
              <td>Depilacja brwi woskiem</td>
              <td>+20zł</td>
            </tr>
            <tr>
              <td>Konsultacja bez usługi</td>
              <td>50zł</td>
            </tr>
            <tr>
              <td>BrowSpa kuracja II miesięczna</td>
              <td>500zł</td>
            </tr>
            <tr>
              <td class="text-muted" style="font-size: 70%">
                * Stylizacja brwi każdorazowo obejmuję: konsultację, dobór
                produktów, wskazówki dotyczące pielęgnacji brwi, przygotowanie
                skóry do zabiegu, oczyszczenie, masaż peelingiem, wyznaczenie
                kształtu brwi, koloryzacja, regulacja poprzez nitkowanie +
                pęseta, odżywka oraz wykończenie oprawy oka
              </td>
            </tr>
          </tbody>
          <thead>
            <tr>
              <th>
                <hr />
                Nitkowanie Twarzy
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Czoło + skronie</td>
              <td>20zł</td>
            </tr>
            <tr>
              <td>Brwi</td>
              <td>20zł</td>
            </tr>
            <tr>
              <td>Policzki + baczki</td>
              <td>20zł</td>
            </tr>
            <tr>
              <td>Wąsik</td>
              <td>20zł</td>
            </tr>
            <tr>
              <td>Broda</td>
              <td>20zł</td>
            </tr>
            <tr>
              <td>Podbródek + szyja</td>
              <td>20zł</td>
            </tr>
            <tr>
              <td>Cała twarz</td>
              <td>100zł</td>
            </tr>
          </tbody>
          <thead>
            <tr>
              <th>
                <hr />
                Woskowanie Twarzy
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Czoło + skronie</td>

              <td>30zł</td>
            </tr>
            <tr>
              <td>Brwi</td>
              <td>30zł</td>
            </tr>
            <tr>
              <td>Policzki + baczki</td>
              <td>30zł</td>
            </tr>
            <tr>
              <td>Uszy</td>
              <td>30zł</td>
            </tr>
            <tr>
              <td>Nos</td>
              <td>30zł</td>
            </tr>
            <tr>
              <td>Wąsik</td>
              <td>30zł</td>
            </tr>
            <tr>
              <td>Broda</td>
              <td>30zł</td>
            </tr>
            <tr>
              <td>Podbródek + szyja</td>
              <td>30zł</td>
            </tr>
            <tr>
              <td>Pachy</td>
              <td>30zł</td>
            </tr>
            <tr>
              <td>Cała twarz</td>
              <td>150zł</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
