<!-- Team Section -->
<section id="price" class="bg-secondary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Cennik</h2>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <table class="table price-table">
          <thead>
            <tr>
              <th>Rzęsy</th>
              <td class="text-muted" style="font-size: 90%; padding-bottom: 0">
                Założenie
              </td>
              <td class="text-muted" style="font-size: 90%; padding-bottom: 0">
                2tyg
              </td>
              <td class="text-muted" style="font-size: 90%; padding-bottom: 0">
                3tyg
              </td>
              <td class="text-muted" style="font-size: 90%; padding-bottom: 0">
                4tyg
              </td>
            </tr>
          </thead>
          <tbody>
            <tr style="margin-bottom: -20px">
              <td class="text-muted" style="font-size: 90%; padding-bottom: 0">
                Naturalne
              </td>
            </tr>
            <tr>
              <td>Metoda 1:1</td>
              <td>150zł&nbsp;&nbsp;<span style="font-size: 95%"></span></td>
              <td>110zł</td>
              <td>130zł</td>
              <td>-----</td>
            </tr>
            <tr style="margin-bottom: -20px">
              <td class="text-muted" style="font-size: 90%; padding-bottom: 0">
                Lekkie objętości
              </td>
            </tr>
            <tr>
              <td>Metoda 2:1</td>
              <td>170&nbsp;&nbsp;<span style="font-size: 95%"></span></td>
              <td>120zł</td>
              <td>140zł</td>
              <td>-----</td>
            </tr>
            <tr>
              <td>Metoda 2/3:1</td>
              <td>180&nbsp;&nbsp;<span style="font-size: 95%"></span></td>
              <td>130zł</td>
              <td>150zł</td>
              <td>170zł</td>
            </tr>
            <tr style="margin-bottom: -20px">
              <td class="text-muted" style="font-size: 90%; padding-bottom: 0">
                Objętościowe
              </td>
            </tr>
            <tr>
              <td>Metoda 3:1</td>
              <td>190&nbsp;&nbsp;<span style="font-size: 95%"></span></td>
              <td>140zł</td>
              <td>160zł</td>
              <td>180zł</td>
            </tr>
            <tr style="margin-bottom: -20px">
              <td class="text-muted" style="font-size: 90%; padding-bottom: 0">
                Duże objętości
              </td>
            </tr>
            <tr>
              <td>Metoda 4/6:1</td>
              <td>230&nbsp;&nbsp;<span style="font-size: 95%"></span></td>
              <td>180zł</td>
              <td>200zł</td>
              <td>220zł</td>
            </tr>
            <tr style="margin-bottom: -20px">
              <td class="text-muted" style="font-size: 90%; padding-bottom: 0">
                Mega objętości
              </td>
            </tr>
            <tr>
              <td>Metoda 7/10:1</td>
              <td>280&nbsp;&nbsp;<span style="font-size: 95%"></span></td>
              <td>230zł</td>
              <td>250zł</td>
              <td>270zł</td>
            </tr>
            <tr>
              <td class="text-muted" style="font-size: 70%">
                * Cena uzupełnienia rzęs do 2/3/4 tygodni obowiązuje tylko po
                aplikacji wykonanej w salonie Urocza Ja
              </td>
            </tr>
            <tr>
              <td>Ściągnięcie rzęs</td>
              <td>50zł</td>
            </tr>
            <tr>
              <td>Laminacja (podkręcenie) rzęs</td>
              <td>130zł</td>
            </tr>
            <tr>
              <td>Farbowanie + wzmocnienie rzęs botoxem</td>
              <td>50zł</td>
            </tr>
          </tbody>

          <thead>
            <tr>
              <th>
                <hr />
                Brwi
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Naturalna stylizacja brwi</td>
              <td>70zł</td>
            </tr>
            <tr>
              <td>Henna pudrowa</td>
              <td>70zł</td>
            </tr>
            <tr>
              <td>Laminacja (ułożenie) brwi</td>
              <td>130zł</td>
            </tr>

            <tr>
              <td>Wzmocnienie brwi botoxem przy stylizacji</td>
              <td>+20zł</td>
            </tr>
            <tr>
              <td>Depilacja brwi woskiem</td>
              <td>+20zł</td>
            </tr>
            <tr>
              <td>Konsultacja bez usługi</td>
              <td>50zł</td>
            </tr>
            <tr>
              <td>BrowSpa kuracja II miesięczna</td>
              <td>500zł</td>
            </tr>
            <tr>
              <td class="text-muted" style="font-size: 70%">
                * Stylizacja brwi każdorazowo obejmuję: konsultację, dobór
                produktów, wskazówki dotyczące pielęgnacji brwi, przygotowanie
                skóry do zabiegu, oczyszczenie, masaż peelingiem, wyznaczenie
                kształtu brwi, koloryzacja, regulacja poprzez nitkowanie +
                pęseta, odżywka oraz wykończenie oprawy oka
              </td>
            </tr>
          </tbody>
          <thead>
            <tr>
              <th>
                <hr />
                Nitkowanie Twarzy
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Czoło + skronie</td>
              <td>20zł</td>
            </tr>
            <tr>
              <td>Brwi</td>
              <td>20zł</td>
            </tr>
            <tr>
              <td>Policzki + baczki</td>
              <td>20zł</td>
            </tr>
            <tr>
              <td>Wąsik</td>
              <td>20zł</td>
            </tr>
            <tr>
              <td>Broda</td>
              <td>20zł</td>
            </tr>
            <tr>
              <td>Podbródek + szyja</td>
              <td>20zł</td>
            </tr>
            <tr>
              <td>Cała twarz</td>
              <td>100zł</td>
            </tr>
          </tbody>
          <thead>
            <tr>
              <th>
                <hr />
                Woskowanie Twarzy
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Czoło + skronie</td>
              <td>30zł</td>
            </tr>
            <tr>
              <td>Brwi</td>
              <td>30zł</td>
            </tr>
            <tr>
              <td>Policzki + baczki</td>
              <td>30zł</td>
            </tr>
            <tr>
              <td>Uszy</td>
              <td>30zł</td>
            </tr>
            <tr>
              <td>Nos</td>
              <td>30zł</td>
            </tr>
            <tr>
              <td>Wąsik</td>
              <td>30zł</td>
            </tr>
            <tr>
              <td>Broda</td>
              <td>30zł</td>
            </tr>
            <tr>
              <td>Podbródek + szyja</td>
              <td>30zł</td>
            </tr>
            <tr>
              <td>Pachy</td>
              <td>30zł</td>
            </tr>
            <tr>
              <td>Cała twarz</td>
              <td>150zł</td>
            </tr>
          </tbody>



          <thead>
            <tr>
              <th>
                <hr />
                Długi warkocz nikita
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1 warkocz </td>
              <td>110&nbsp;/&nbsp;<span style="font-size: 95%">150zł</span>*</td>
            </tr>
            <tr>
              <td>2 warkocze </td>
              <td>140&nbsp;/&nbsp;<span style="font-size: 95%">180zł</span>*</td>
            </tr>
            <tr>
              <td class="text-muted" style="font-size: 70%">*Cena wyższa obowiązuje przy użyciu 2 paczek włosów syntetycznych. </td>
            </tr>
          </tbody>

          <thead>
            <tr>
              <th>
                <hr />
                Warkoczowe koczki
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1 koczek </td>
              <td>130&nbsp;/&nbsp;<span style="font-size: 95%">170zł</span>*</td>
            </tr>
            <tr>
              <td>2 koczki </td>
              <td>150&nbsp;/&nbsp;<span style="font-size: 95%">190zł</span>*</td>
            </tr>
            <tr>
              <td class="text-muted" style="font-size: 70%">*Cena wyższa obowiązuje przy użyciu 2 paczek włosów syntetycznych. </td>
            </tr>
          </tbody>


          <thead>
            <tr>
              <th>
                <hr />
                Warkocz wodospad
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1 warkocz </td>
              <td>100&nbsp;/&nbsp;<span style="font-size: 95%">140zł</span>*</td>
            </tr>
            <tr>
              <td>2 warkocze </td>
              <td>110&nbsp;/&nbsp;<span style="font-size: 95%">150zł</span>*</td>
            </tr>
            <tr>
            </tr>
            <tr>
              <td>3 warkocze </td>
              <td>120&nbsp;/&nbsp;<span style="font-size: 95%">170zł</span>*</td>
            </tr>
            <tr>
              <td class="text-muted" style="font-size: 70%">*Cena wyższa obowiązuje przy użyciu 2 paczek włosów syntetycznych. </td>
            </tr>
          </tbody>


          <thead>
            <tr>
              <th>
                <hr />
                Warkocze push-up
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1 warkocz push-up  </td>
            
              <td>100&nbsp;/&nbsp;<span style="font-size: 95%">140zł</span>*</td>
            </tr>
            <tr>
              <td>2 warkocze push-up </td>
              <td>120&nbsp;/&nbsp;<span style="font-size: 95%">160zł</span>*</td>
            </tr>
            <tr>
              <td>3 warkocze push-up </td>
              <td>150&nbsp;/&nbsp;<span style="font-size: 95%">190zł</span>*</td>
            </tr>
            <tr>
              <td>4 warkocze push-up </td>
              <td>180&nbsp;/&nbsp;<span style="font-size: 95%">220zł</span>*</td>
            </tr>
            <tr>
              <td class="text-muted" style="font-size: 70%">*Cena wyższa obowiązuje przy użyciu 2 paczek włosów syntetycznych. </td>
            </tr>
          </tbody>

          <thead>
            <tr>
              <th>
                <hr />
                Warkocze dobierane
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1 warkocz </td>
              <td>100&nbsp;/&nbsp;<span style="font-size: 95%">120zł</span>*</td>
            </tr>
            <tr style="margin-bottom: -20px">
              <td>2 warkocze </td>
              <td>100&nbsp;/&nbsp;<span style="font-size: 95%">140zł</span>*</td>
            </tr>
            <tr>
              <td>3 warkocze</td>
              <td>120zł&nbsp;/&nbsp;<span style="font-size: 95%">160zł</span>*</td>
            </tr> 
            <tr>
              <td>4 warkocze</td>
              <td>140zł&nbsp;/&nbsp;<span style="font-size: 95%">180zł</span>*</td>
            </tr>
            <tr>
              <td>5 warkoczy</td>
              <td>160zł&nbsp;/&nbsp;<span style="font-size: 95%">200zł</span>*</td>
            </tr>
            <tr>
              <td>6 warkoczy</td>
              <td>180zł&nbsp;/&nbsp;<span style="font-size: 95%">220zł</span>*</td>
            </tr>
            <tr>
              <td class="text-muted" style="font-size: 70%">*Cena wyższa obowiązuje przy użyciu 2 paczek włosów syntetycznych </td>
            </tr>
          </tbody>




          <thead>
            <tr>
              <th>
                <hr />
                Warkokitki dobierane
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1 warkokitka</td>
              <td>120&nbsp;/&nbsp;<span style="font-size: 95%">150zł</span>*</td>
            </tr>
            <tr>
              <td>2 warkokitki</td>
              <td>130&nbsp;/&nbsp;<span style="font-size: 95%">170zł</span>*</td>
            </tr>
            <tr>
              <td>3 warkokitki</td>
              <td>150&nbsp;/&nbsp;<span style="font-size: 95%">190zł</span>*</td>
            </tr>
            <tr>
              <td>4 warkokitki</td>
              <td>170&nbsp;/&nbsp;<span style="font-size: 95%">210zł</span>*</td>
            </tr>
            <tr>
              <td>5 warkokitek</td>
              <td>190&nbsp;/&nbsp;<span style="font-size: 95%">230zł</span>*</td>
            </tr>
            <tr>
              <td>6 warkokitek</td>
              <td>210&nbsp;/&nbsp;<span style="font-size: 95%">250zł</span>*</td>
            </tr>
            <tr>
              <td class="text-muted" style="font-size: 70%">*Fryzura polecana dla osób z włosami ściętymi na prosto.</td>
            </tr>
            <tr> 
              <td class="text-muted" style="font-size: 70%">*Cena wyższa obowiązuje przy użyciu 2 paczek włosów syntetycznych lub 1 paczki włosów falowanych bądź kręconych. </td>
            </tr>
          </tbody>

          <thead>
            <tr>
              <th>
                <hr />
                Kucyk dobierany
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1 warkocz + kuc </td>
              <td>110&nbsp;/&nbsp;<span style="font-size: 95%">150zł</span>*</td>
            </tr>
            <tr>
              <td>2 warkocze + kuc </td>
              <td>120&nbsp;/&nbsp;<span style="font-size: 95%">160zł</span>*</td>
            </tr>
            <tr>
              <td>3 warkocze + kuc </td>
              <td>130&nbsp;/&nbsp;<span style="font-size: 95%">170zł</span>*</td>
            </tr>
            <tr>
              <td>4 warkocze + kuc </td>
              <td>150&nbsp;/&nbsp;<span style="font-size: 95%">190zł</span>*</td>
            </tr>
            <tr>
              <td>5 warkoczy + kuc </td>
              <td>170&nbsp;/&nbsp;<span style="font-size: 95%">210zł</span>*</td>
            </tr>
            <tr>
              <td>6 warkoczy + kuc </td>
              <td>190&nbsp;/&nbsp;<span style="font-size: 95%">230zł</span>*</td>
            </tr>
            <tr>
              <td>7 warkoczy + kuc </td>
              <td>210&nbsp;/&nbsp;<span style="font-size: 95%">250zł</span>*</td>
            </tr>
            <tr>
              <td>8 warkoczy + kuc </td>
              <td>230&nbsp;/&nbsp;<span style="font-size: 95%">270zł</span>*</td>
            </tr>
            <tr>
              <td>9 warkoczy + kuc </td>
              <td>250&nbsp;/&nbsp;<span style="font-size: 95%">290zł</span>*</td>
            </tr>
            <tr>
              <td>10 warkoczy + kuc </td>
              <td>270&nbsp;/&nbsp;<span style="font-size: 95%">310zł</span>*</td>
            </tr>
            <tr>
              <td class="text-muted" style="font-size: 70%">*Im więcej warkoczy tym lepiej trzyma się fryzura. Standardowy Kuc składa się z 3 warkoczy - 2 z przodu i 1 z tyłu głowy.</td>
            </tr>
              <td class="text-muted" style="font-size: 70%">*Cena wyższa obowiązuje przy użyciu 2 paczek włosów syntetycznych lub 1 paczki włosów falowanych bądź kręconych.</td>
            </tr>
          </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
