<!-- Services Section -->
<section id="services" class="bg-main">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading main-color">Usługi</h2>
      </div>
    </div>
    <hr class="hr-second-color"/>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-3 main-color">
        <p> 
          <ul class="main-list">
          <li>Kompleksowa stylizacja rzęs</li>
          <li>Kompleksowa stylizacja brwi</li>
          <li>Nitkowanie okolic twarzy</li>
          <li>Woskowanie twarzy oraz poszczególnych partii</li>
        </ul>
        </p>
      </div>
    </div>
  </div>
</section>
