<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Usługi</h2>
                    <h3 class="section-subheading text-muted">Wykonywane usługi</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                        <img class="img-circle" width="230" src="img/services/lashes.jpg" alt="">
                    <h4 class="service-heading">Rzęsy</h4>
                    <p style="font-family: Lato" class="text-muted">Przedłużanie i zagęszczanie rzęs</p>
                </div>
                <div class="col-md-4">
                        <img class="img-circle" height="130" src="img/services/nails.png" alt="">
                    <h4 class="service-heading">Paznokcie</h4>
                    <p style="font-family: Lato" class="text-muted">Stylizacja paznokci</p>
                </div>
                <div class="col-md-4">
                        <img class="img-circle" height="130" src="img/services/piercing.png" alt="">
                    <h4 class="service-heading">Piercing</h4>
                    <p style="font-family: Lato" class="text-muted">Przekłuwanie ciała</p>
                </div>
            </div>
        </div>
    </section>