<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Cennik</h2>
                    <h3 class="section-subheading text-muted">Cennik wykonywanych usług.</h3>
                </div>
            </div>
            <div class="row">
                    
                <div class="col-lg-8 col-lg-offset-3">
                        <table class="table table-striped">
                                <thead>
                                  <tr>
                                    <th>Rzęsy</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>Metoda 1:1</td>
                                    <td>70zł</td>
                                  </tr>
                                  <tr>
                                    <td>Metoda 2:1</td>
                                    <td>90zł</td>
                                  </tr>
                                  <tr>
                                    <td>Metoda 3:1</td>
                                    <td>110zł</td>
                                  </tr>
                                </tbody>

                                <thead>
                                        <tr>
                                          <th>Brwi</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                          <td>Henna + regulacja</td>
                                          <td>15zł</td>
                                        </tr>
                                      </tbody>

                                      <thead>
                                            <tr>
                                              <th>Piercing</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr>
                                              <td>Brwi</td>
                                              <td>45zł</td>
                                            </tr>
                                            <tr>
                                              <td>Nos</td>
                                              <td>45zł</td>
                                            </tr>
                                              <tr>
                                                <td>Język</td>
                                                <td>45zł</td>
                                              </tr>
                                            <tr>
                                              <td>Madonna</td>
                                              <td>45zł</td>
                                            </tr>
                                            <tr>
                                              <td>Warga</td>
                                              <td>45zł</td>
                                            </tr>
                                          <tr>
                                            <td>Pępek</td>
                                            <td>45zł</td>
                                            </tr>
                                          </tbody>
                                          </table>
                </div>
            </div>
        </div>
    </section>